@font-face {
  font-family: fancy;
  src: url(../fonts/Tangerine-Regular.ttf);
}

.home-background {
  background-image: url("../images/fisherGraveyard.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 1%;
  display: flex;
  justify-content: right;
  padding-right: 2%;
}

.h1-main {
  font-family: Trebuchet;
  color: black;
  text-align: center;
}

.home-header {
  flex-direction: column;
  align-items: center;
}

.nav-box {
  display: flex;
  font-family: fancy;
  font-size: xx-large;
  justify-content: center;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  
}

a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: #191919;
  background-color: #99999930;
  padding: 3%;
  min-width: 150px;
  border-radius: 0.5rem;
  text-align: center;
}

a:hover {
  font-weight: bold;
  color: white;
  background-color: #99999975;
}

.h1-bio {
    font-family: trebuchet;
    color: black;
    text-align: center;
}

.bio-title {
  font-size: 4rem;
}
